<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>
    <script src="app.js"></script>
    <title></title>
</head>
<body ng-controller="directoriesController">
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr style="background-color:lightgrey;">
                    <th>Less 10 mb</th>
                    <th>10 mb - 50 mb</th>
                    <th>More 100 mb</th>
                </tr>
                <tr>
                    <td>{{Directories.Sf_count}}</td>
                    <td>{{Directories.Mf_count}}</td>
                    <td>{{Directories.Lf_count}}</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <p><strong>Current path:</strong> {{Directories.CurrentDir}} </p>


        <div>
            <ul class="list-group">
                <li class="list-group-item" ng-click="getDir(Directories.ParentDir)"><a href=""><strong>..</strong></a></li>
                <li class="list-group-item" ng-repeat="(key, value) in Directories.Children"><a href="" ng-click="getDir(key)">{{value[1]}}</a></li>
                <li class="list-group-item" ng-repeat="file in Directories.Files">{{file}}</li>
            </ul>
        </div>
    </div>
</body>
</html>
